# 忽略图片文件
*.png
*.jpg
*.jpeg
*.gif
*.bmp

# 忽略系统文件
Thumbs.db
.DS_Store

# 忽略临时文件
*.tmp
*.log
*.bak

# PLC 工程临时文件（西门子 TIA Portal）
*.ap[0-9][0-9]
*.aux
*.plm

# 三菱工程临时文件
*.gxw.*.tmp

# 编译生成文件
*.obj
*.exe
*.bin

# IDE 配置
.idea/
.vscode/
*.swp
